header {
    position: relative;
}

.title-page {
    padding: 8px;
    @extend %shadow-header;
}

h1 {
    text-align: center;
}

header, .image-cover, .img-background-card {
    height: 100%;
    width: 100%;
}

.image-cover {
    z-index: -1;
}

.img-background-card {
    max-height: 35rem;
}