// SMALL LAPTOP
// INDEX : RESPONSIVE RESTAURANT CARDS
@media #{$small-laptop-up} {
    .navbar__container__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
    
    .cards-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu__container__main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}