/* HTML formating */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a, li {
  list-style: none;
  color: initial;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

h1, h4, .menu-title {
  font-family: "Shrikhand", cursive;
}

h1 {
  font-size: 32px;
}

h4, h3 {
  font-size: 18px;
}

.search-rest__explore__info {
  font-size: 20px;
}

h2, h3, p, a, li, span {
  font-family: "Roboto", sans-serif;
}

span {
  font-size: 17px;
}

p, .new-sticker {
  font-size: 14px;
}

.card, .title-page {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.navbar__container__list__selector {
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.1);
}

.restaurant__container, .footer__container, .menu__container, .navbar__container {
  max-width: 1200px;
  margin: auto;
}

@keyframes slow-appearence {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.cards-list {
  display: grid;
  margin: 20px 0 24px 0;
  grid-template-columns: 1fr;
  gap: 18px;
}

header {
  position: relative;
}

.title-page {
  padding: 8px;
}

h1 {
  text-align: center;
}

header, .image-cover, .img-background-card {
  height: 100%;
  width: 100%;
}

.image-cover {
  z-index: -1;
}

.img-background-card {
  max-height: 35rem;
}

.navbar {
  padding: 50px 20px 48px;
}

.navbar__container__list {
  margin-top: 7px;
}

.navbar__container__list__selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f6;
  position: relative;
  left: 12px;
  padding: 25px 0 25px 25px;
  border-radius: 20px;
  width: 96.5%;
  cursor: pointer;
  margin: 20px 0;
}

.navbar__container__list__selector i {
  margin-right: 27px;
  color: #7e7e7e;
  margin-left: 12px;
}

.selector__number {
  color: #ffffff;
  background-color: #9356DC;
  border-radius: 500px;
  height: 25px;
  width: 25px;
  padding-top: 3px;
  text-align: center;
  position: absolute;
  left: -12px;
}

.menu {
  background-color: #ffffff;
}

.menu__container {
  border-radius: 30px 30px 0 0;
  padding: 35px 12px 58px;
  position: relative;
  margin-top: -50px;
  background-color: #f6f6f6;
}

.menu__container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 26px 0 7px;
}

.menu-block {
  margin: 35px 0 50px;
}

.menu-block__list li {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px 23px 12px 11px;
  margin: 14px 0;
  text-overflow: "...";
  overflow: hidden;
  white-space: nowrap;
}

.tab {
  animation: slow-appearence 1s;
}
.tab--1 {
  animation-delay: 0.1428571429s;
}
.tab--2 {
  animation-delay: 0.2857142857s;
}
.tab--3 {
  animation-delay: 0.4285714286s;
}
.tab--4 {
  animation-delay: 0.5714285714s;
}
.tab--5 {
  animation-delay: 0.7142857143s;
}
.tab--6 {
  animation-delay: 0.8571428571s;
}
.tab--7 {
  animation-delay: 1s;
}
.tab--8 {
  animation-delay: 1.1428571429s;
}
.tab--9 {
  animation-delay: 1.2857142857s;
}
.tab--10 {
  animation-delay: 1.4285714286s;
}

.menu-block__list__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
}

footer, footer a {
  background-color: #353535;
  color: #ffffff;
}

footer {
  padding: 25px;
}

footer li {
  margin: 0.63rem 0;
}

footer a:hover {
  color: #9356DC;
}

footer i {
  display: inline;
}

footer p {
  display: inline-block;
}

.fa-utensils {
  padding-right: 10px;
  margin-top: 12px;
}

.fa-hands-helping {
  padding-right: 4px;
}

@media screen and (min-width: 1024px) {
  .navbar__container__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .cards-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu__container__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
.back-to-index {
  position: absolute;
  left: 22px;
  top: 24px;
}

.fa-arrow-left {
  font-size: 18px;
  color: #353535;
}

.fa-heart {
  font-size: 21px;
}

.underline-titles-menu {
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  margin: 7px 0 14px 6px;
}

.corner-check {
  display: none;
}

.search-rest__explore__button {
  color: #ffffff;
  font-size: 17px;
  border: inherit;
  border-radius: 500px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  cursor: pointer;
  padding: 1rem 1.2rem;
}

.order {
  display: flex;
  justify-content: center;
}

.order__button {
  color: #ffffff;
  font-size: 17px;
  border: inherit;
  border-radius: 500px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  cursor: pointer;
  padding: 1.12rem 2.5rem;
}

.search-rest__location {
  text-align: center;
  padding: 15px 35px 15px 0;
  background-color: #eaeaea;
}

.search-rest__location i {
  margin-bottom: 3px;
  margin-right: 18px;
}

.search-rest__explore {
  background-color: #f6f6f6;
}

.search-rest__explore {
  padding: 40px 30px 57px;
  text-align: center;
}

.search-rest__explore h2 {
  padding: 0 20px;
}

.search-rest__explore__info {
  margin: 15px 0 30px 0;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 20px;
}

.restaurant h2 {
  margin-top: 38px;
}

.card {
  border-radius: 20px;
  position: relative;
}

.card img {
  border-radius: 20px 20px 0 0;
  height: 176px;
  width: max-content;
}

.card__new-sticker {
  background-color: #99e2d0;
  color: #008766;
  width: 80px;
  height: 30px;
  text-align: center;
  padding: 0.5rem;
  border-radius: 2px;
  position: absolute;
  right: 12px;
  top: 12px;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
}

.card__bottom__description h3 {
  margin-bottom: 7px;
}

/*# sourceMappingURL=style.css.map */
