$corner-width: 60px!default;
$corner-anim-dur: 500ms!default;

.corner-check {
    display: flex;
    position: absolute;
    right: -$corner-width;
    width: $corner-width;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 0 15px 15px 0;
    background-color: $color-tertiary;
    color: $color-fonts-clear;
    animation: slide-right-growth $corner-anim-dur both
}

.fa-check-circle {
    font-size: 20px;
    transform: rotate(180deg);
    animation: rotate-back $corner-anim-dur both;
}

.menu-block-price {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    animation: slide-right $corner-anim-dur both;
}

// ANIMATION CORNER CHECK PRICE 
.menu-block__list li {
    &:hover {
        .corner-check {
            animation: slide-left-growth $corner-anim-dur both;
        }
        .fa-check-circle {
            animation: rotate $corner-anim-dur 100ms both;
        }
        .menu-block-price {
            animation: slide-left $corner-anim-dur both;
        }
    }
}