.heart {
    position: relative;
    margin: 0 30px 30px 0;
    background-color: inherit;
    cursor: pointer;
    &:hover::before {
        opacity: 1;
    }

    &::before {
        opacity: 0;
        transition: 1s;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        background: linear-gradient(to bottom, $color-primary ,$color-secondary);
    }

    &:hover {
        .fa-backward {
            opacity: 1;
        }
        .fa-foward {
            opacity: 0;
        }
    }

    .fa-heart {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 22px;
    }
    
    .fa-foward {
        opacity: 1;
        color: black;
        transition: 0.5s ease-in-out;
    }
    .fa-backward {
        opacity: 0;
        animation: heart-filling 0.5s ease-in-out both;
        background-color: white;
        mix-blend-mode: lighten;
    }
}