// SEARCH RESTAURANT LOCATE
.search-rest__location {
    text-align: center;
    padding: 15px 35px 15px 0;
    background-color: $color-background-locate;
}

.search-rest__location i {
    margin-bottom: 3px;
    margin-right: 18px;
}

.search-rest__explore {
    background-color: $color-background-explore;
}

// SEARCH RESTAURANT EXPLORE
.search-rest__explore {
    padding: 40px 30px 57px;
    text-align: center;
}

.search-rest__explore h2 {
    padding: 0 20px;
}

.search-rest__explore p {
    margin: 15px 0 30px 0;
}

    // BUTTON
.search-rest__explore__button {
    @include button;
}