@mixin button {
    color: $color-fonts-clear;
    font-size: 17px;
    border: inherit;
    border-radius: 500px;
    background: linear-gradient(to top, $color-primary , $color-secondary);
    cursor: pointer;
}

@mixin selector__number--style {
    color: $color-fonts-clear;
    background-color: $color-primary;
    border-radius: 500px;
    height: 25px;
    width: 25px;
    padding-top: 3px;
    text-align: center;
}