// THEME COLORS
$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;

// BACKGROUND COLORS
$color-background-locate: #eaeaea;
$color-background-explore: #f6f6f6;
$color-background-footer: #353535;
$color-fonts-button: #ffffff;
$color-icons-list: #7e7e7e