// THEME COLORS
$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-fonts-clear: #ffffff;

// MAIN BACKGROUND COLORS
$color-background-locate: #eaeaea;
$color-background-explore: #f6f6f6;

// NAVBAR COLORS
$color-icons-list: #7e7e7e;

// STICKER NEW
$color-background-sticker-new: #99e2d0;
$color-sticker-new: #008766;

// FOOTER COLORS
$color-background-footer: #353535;

// BACK-GROUND LOAD SPINNER
$color-background-loader: linear-gradient(145deg, $color-secondary, $color-tertiary);

//LOADER
$inner-diameter-width: 10px!default;
$outter-diameter-width: 210px!default;

// CORNER-CHECK
$corner-width: 60px!default;
$corner-anim-dur: 500ms!default;